body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f9f6f6;
    background-image: url(asdf.jpg);
    background-size: cover;
    background-position: 100%;
  }
  
  .container {
    width: 80%;
    margin: 40px auto;
    background-color: #0c0c0c;
    background-image: url(sky.avif);
    background-size: cover;
    background-position: center;
    padding: 10%;
    border: 1px solid #9bb2ef;
    box-shadow: 0 0 10px rgba(83, 36, 36, 0.1); background-color: #fdfdfd;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="email"], input[type="tel"], input[type="password"], textarea {
    width: 90%;
    height: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }

  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }



  